.form-check .form-check-input {
    margin-left: -1.5em;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.darkmode input:-webkit-autofill, .darkmode input:-webkit-autofill:hover, .darkmode input:-webkit-autofill:focus, .darkmode input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
}
.darkmode .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg id='SvgjsSvg1001' width='288' height='288' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3e%3cdefs id='SvgjsDefs1002'%3e%3c/defs%3e%3cg id='SvgjsG1008' transform='matrix(1%2c0%2c0%2c1%2c0%2c0)'%3e%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='288' height='288'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z' fill='white' class='color000 svgShape'%3e%3c/path%3e%3c/svg%3e%3c/g%3e%3c/svg%3e") 50%/1em auto no-repeat !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.social-icon {
    float: left;
}
.social-icon a {
    font-size: 1rem;
}
.copyright {
    margin: auto;
    margin-right: 0;
}
@media only screen and (max-width: 720px) {
    footer .row {
        display: block;
    }
    .social-icon {
        float: none;
    }
    .copyright {
        margin-right: auto;
    }
}
.profile-pic {
    border-radius: 50%;
    width: 300px;
    border: 1px solid gray;
}
@media only screen and (max-width: 767px) {
    .profile-pic {
        width: 60%;
    }
}
#countdown p {
    font-size: 20px;
}
#countdown h1 {
    font-size: 60px;
}
#intro p {
    font-size: 1.3rem;
}
#intro h1 {
    font-size: 3.5rem;
}
body:not(body.darkmode) {
    background-color: #f2f2f2;
}
#whyuse ul {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
    max-width: 960px;
}
#whyuse ul li {
    width: 30%;
    border-radius: 17px;
    margin: 0 30px 30px 0;
}
#whyuse ul div {
    border-radius: 17px;
    height: 100%;
}
#sitestatus ul {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
    max-width: 960px;
}
#sitestatus ul li {
    width: 30%;
    border-radius: 17px;
    margin: 0 30px 30px 0;
}
#sitestatus ul div {
    border-radius: 17px;
    height: 100%;
}
@media only screen and (max-width: 640px) {
    #whyuse ul {
        display: block!important;
    }
    #whyuse ul li {
        margin: 0 auto 30px!important;
        width: 300px!important;
    }
    #whyuse ul li:last-child {
        margin-right: auto!important;
        margin-left: auto!important;
    }
    #whyuse ul li:nth-child(3n) {
        margin-right: auto!important;
        margin-left: auto!important;
    }
    #sitestatus ul {
        display: block!important;
    }
    #sitestatus ul li {
        margin: 0 auto 30px!important;
        width: 300px!important;
    }
    #sitestatus ul li:last-child {
        margin-right: auto!important;
        margin-left: auto!important;
    }
    #sitestatus ul li:nth-child(3n) {
        margin-right: auto!important;
        margin-left: auto!important;
    }
}
#tutorial img {
    width: 190px;
    height: 400px;
}
.lightbox-gallery .lightbox-gallery-arrow-left button::before {
    content: ""!important;
}
.lightbox-gallery .lightbox-gallery-arrow-right button::before {
    content: ""!important;
}
.lightbox-gallery .lightbox-gallery-toolbar button.lightbox-gallery-fullscreen-btn::before {
    content: ""!important;
}
.lightbox-gallery .lightbox-gallery-toolbar button.lightbox-gallery-zoom-btn::before {
    content: ""!important;
}
.lightbox-gallery .lightbox-gallery-toolbar button.lightbox-gallery-close-btn::before {
    content: "";
}