{% extends "base.html" %}
{% block title %}Auto Followers - TZ Liker{% endblock %}
{% block body %}
<div align="center">
	<h1>Auto Followers</h1>
	<div style="max-width: 600px;" class="mt-4">
		<form method="POST">
			{% csrf_token %}
			<div class="form-outline mb-4">
			  <input required="" class="form-control" id="fb_id_url" type="url" name="fb_id_url">
			  <label class="form-label" for="fb_id_url">Facebook ID Link</label>
			</div>
			<button type="submit" class="btn btn-block btn-primary">Next</button>
		</form>
	</div>
</div>
{% endblock %}