{% extends "base.html" %}
{% block title %}Change Password - TZ Liker{% endblock %}
{% block body %}
<div align="center">
	<h3>Change Password</h3>
	<div class="mt-4" style="max-width: 500px;">
		<form method="POST">
			{% csrf_token %}
		  <div class="form-outline mb-4">
		  	<i class="fas fa-regular fa-lock trailing"></i>
		    <input required="" style="padding-right: 1.85em;" type="password" id="password" name="password" class="form-control">
		    <label class="form-label" for="password">New Password</label>
		  </div>
		  <div class="form-outline mb-4">
		  	<i class="fas fa-regular fa-lock trailing"></i>
		    <input required="" style="padding-right: 1.85em;" type="password" id="confirmpassword" name="confirmpassword" class="form-control">
		    <label class="form-label" for="confirmpassword">Confirm New Password</label>
		  </div>
		  <button type="submit" class="btn btn-primary btn-block mb-2">Change Password</button>
		</form>
	</div>
</div>
{% endblock %}