{% extends "base.html" %}
{% block title %}Rapid Likes - TZ Liker{% endblock %}
{% block body %}
<div align="center">
	<h1>Rapid Likes</h1>
	<div id="countdown" style="{% if not cooldown %}display: none;{% endif %}">
		<p>You can submit again after</p>
		<h1 id="time" class="text-warning">{{ minutes }}:{{ seconds }}</h1>
		<p>Seconds</p>
	</div>
	<div id="submitform" style="max-width: 400px;{% if cooldown %}display: none;{% endif %}">
		<form method="POST">
			{% csrf_token %}
			<select name="react" id="react" class="select">
        <option value="like">Like</option>
        <option value="love">Love</option>
        <option value="haha">Haha</option>
        <option value="wow">Wow</option>
        <option value="sad">Sad</option>
        <option value="angry">Angry</option>
      </select>
      <label class="form-label select-label" for="react">Choose Reactions</label>
			<button type="submit" id="submit" class="btn btn-block btn-primary mt-4">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	startcountdown({{ time_remaining }})
</script>
{% endblock %}