{% extends "base.html" %}
{% block title %}Password Reset - TZ Liker{% endblock %}
{% block body %}
<div align="center">
	<h3>Password Reset</h3>
	<div class="mt-4" style="max-width: 500px;">
		<form method="POST">
			{% csrf_token %}
		  <div class="form-outline mb-4">
		  	<i class="fa-regular fa-envelope trailing"></i>
		    <input required="" style="padding-right: 1.85em;" type="text" id="email" name="email" class="form-control">
		    <label class="form-label" for="email">Enter your email address</label>
		  </div>
		  <button type="submit" class="btn btn-primary btn-block mb-2">Reset</button>
		  <div align="left">
			  <a href="{{ host }}/login">Remember the password?</a>
		  </div>
		</form>
	</div>
</div>
{% endblock %}